<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>réinitialiser le motdepasse</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>

<link rel="stylesheet" href="../../static/inscription/forgotpassword.css">
</head>
<body>

<div class="wrapper">
  <div class="login_box">
    <div class="login-header">
      <span>Reset</span>
    </div>
    <div class="input_box">
        <input type="text" id="user" class="input-field" required>
        <label for="user" class="label">Username</label>
        <i class="bx bx-user icon"></i>
      </div>
      <div class="input_box">
        <input type="email" id="adress" class="input-field" required>
        <label for="adress" class="label">email</label>
        <i class="bx bx-lock-alt icon"></i>
      </div>
  <form id="contactForm">
    <div class="input_box">
      <input type="submit" class="input-submit" value="Send">
    </div>
  </form>

  <!-- Message de confirmation caché initialement -->
  <div id="confirmationMessage">
    Un e-mail vous a été envoyé avec succès !
  </div>

  <script>
    // Attacher l'événement au formulaire
    document.getElementById('contactForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Empêche l'envoi réel du formulaire (envoie d'e-mail dans la vraie vie)
      document.getElementById('confirmationMessage').style.display = 'block'; // Affiche le message de confirmation
    });
  </script>


</body>
</html>