<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylist IA</title>
    <link rel="stylesheet" href="../static/accueil/style.css">
</head>
<body>
    <div class="background"></div>
    <header>
        <nav class="navbar">
            <div class="navbar-menu">
                <button class="menu-toggle">Menu</button>
                <a href="/dressing">Dressing</a>
                <a href="/lookdujour">Look du Jour</a>
                <a href="/schedule_outfit">StylePlan</a>
                <a href="/tendance">Tendance</a>
                <a href="/inscription">Login</a>
                <a href="/send_message">Contact</a>
            </div>
        </nav>
    </header>
    
    <div class="chat">
        <a href="/chatbot"><img src="../static/accueil/chat.png" alt="Chatbot" class="chat-icon" id="chatIcon"><a>
    </div>

</body>
</html>
